* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-nav {
    list-style: none;
    margin: 0px;
    width: 100%; 
    background: rgb(148, 146, 146);
    text-decoration: none;  
    display: flex;
    flex-direction: row; 
}
.main-nav li {
    border-left: 2px solid springgreen;
    background: #00af9d ;
    border: 1px solid wheat;
    text-align: center;
    float: left;
    line-height: 60px;
    width: 137px;
    height: 50px;
    color: white;
    font-weight: bolder;
    position: relative;
    font-size: 16px;
    text-shadow: 0 2px 2px rgb(49, 48, 48);
    
}
.main-nav li:hover{
    background: springgreen;
    transition: 2s;
    
}
.sub-nav {
    display: none;
    z-index: 9999;
    
}
.sub-nav li {
    font-size: 12px;

}
.sub-nav li > a {
    text-decoration: none;
    color: white;
}
.sub-nav li:hover{
    background: teal;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 2px rgb(54, 52, 52);
}
.main-nav li:hover > .sub-nav{
    display: block;
    z-index: 99;
   
}

.sub-min-nav{
    display: none;
}

.sub-nav li:hover > .sub-min-nav{
    display: block;
}
 
.sub-min-nav{
    top: 15px;
    right: -30px;
    position: absolute;
    width: 30px;
}
.mini-nav {
    width: 220px;
    height: 300px;
    background: rgb(227, 228, 226);   
    border-radius: 10px; 
    padding: 11px;
    display: none;
   
}
.mini1-nav {
    outline: transparent;
    padding: 11px;
    border: none;
    box-shadow: inset 8px 8px 8px #d1cfcf,
    inset -8px -8px 8px #ffffff;   
    border-radius: 10px; 
    font-size: 13px;
    text-shadow: 0 2px 1px rgb(180, 178, 178);
   

}
.mini1-nav::placeholder {
    color: rgb(206, 10, 36);
    font-weight: bold;
}
.btn-reg {
    width: 125px;
    background: linear-gradient(to top, rgb(4, 175, 89), springgreen);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 40px;
    height: 32px;
    cursor: pointer;
    outline: none;
    border: none;
}
.register:hover .mini-nav {
    display: block;
}
.header {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(228, 15, 79);
    text-shadow: 0 3px 3px gray;
    text-align: center;
}
.main-div-class {
    display: flex;
    flex-direction: row;

}
.sub-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.bag-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.shoe-main-div-class {

    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.can-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.pal-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.jump-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.wrap-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.ear-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.bra-main-div-class {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #48d1cc;
}
.off-main-div-class {
    display: flex;
    flex-direction: row;
}

.ankara {
    text-align: center;
    width: 230px;
    height: 270px;
    background: #faf9f9;
    box-shadow:  13px 13px 17px #c8cccc,
    -13px -13px 17px #ffffff;   
    border-radius: 40px; 
    margin: 30px;
    border-bottom: 3px solid  #cfff00;

}
.clothe-an {
    width: 200px;
    height: 200px;
    border-radius: 40px;

}
.buy {
    background: red;
    color: white;
    outline: none;
    border: none;
    width: 48px;
    height: 25px;
    border-radius: 30px;
}

.ankara:hover {
    transform: scale(1.3);
    border-radius: 60px;

}
.search-nav {
    width: 220px;
    height: 90px;
    background: #f1f1ee; 
    border-radius: 20px; 
    padding: 11px;
    position: absolute;
    left: -30px;
    display: none;
   
}
.sub-search {
    outline: transparent;
    padding: 8px;
    border: none;
    box-shadow: inset 8px 8px 8px #b6b3b3,
    inset -8px -8px 8px #ffffff;   
    border-radius: 8px; 
    font-size: 11px;
    text-shadow: 0 2px 1px rgb(180, 178, 178);

}
.sub-search::placeholder {
    color: rgb(66, 184, 158);
    font-weight: bold;
}
.search:hover .search-nav {
    display: block;
}
.back-btn { 
    width: 65px;
    height: 33px;
   border-radius: 30px;
   border: none;
    background: linear-gradient(to top, red, teal);
    margin: 3px;
    position: relative;
    left: 1200px ;
    
}
.back-btn > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
.back-btn:hover {
    transition: linear;
    transition-duration: 1s;
    background: rgb(253, 30, 30);
}
.mini-pay {
    width: 220px;
    height: 300px;
    background: rgb(227, 228, 226);   
    border-radius: 10px; 
    border: 3px solid rgb(255, 252, 252);
    padding: 11px;
    display: none;
   
}
.mini1-pay {
    outline: transparent;
    padding: 11px;
    border: none;
    box-shadow: inset 8px 8px 8px #d1cfcf,
    inset -8px -8px 8px #ffffff;   
    border-radius: 10px; 
    font-size: 13px;
    text-shadow: 0 2px 1px rgb(180, 178, 178);
   

}
.mini1-pay::placeholder {
    color: rgb(28, 158, 28);
    font-weight: bold;
}
.btn-pay {
    width: 125px;
    background: linear-gradient(to top, rgb(97, 243, 170), rgb(13, 155, 84));
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 40px;
    height: 32px;
    cursor: pointer;
    outline: none;
    border: none;
}
.payment:hover .mini-pay {
    display: block;
}
.buy-pay {
    height: 40px;
    width: 100px;
    background: #00af9d;
    box-shadow: inset 8px 8px 8px rgb(3, 95, 95),
    inset -8px -8px 8px rgb(36, 245, 245);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    transform: scale(1.5);
    display: none;

}
.buy:hover .buy-pay {
    display: block;
    transition: 2s;

}